@import "variables";

.library-content {
  min-height: 100vh;

  .author-section {
    padding: 0 2em 0 3em;

    .author-title {
      color: $title-color;
      border-bottom: 2px solid $title-color-underline;
      font-weight: 500;
    }

    .empty-list {
      font-size: 1.2em;
      font-style: italic;
    }

    .author-ul {

      li {
        margin: 0;
        font-size: 1.2em;
        list-style: none;
        word-break: break-all;

        .author-icons {
          text-align: right;
          padding-right: 25px;
          display: none;

          i {
            cursor: pointer;
          }
        }

        &:hover {
          background-color: $list-hover-color;

          .author-icons {
            display: block;
          }
        }
      }
    }

    .add-author {
      i {
        color: $create-btn-color;
      }

      label {
        font-size: 1.2em;
        font-weight: 500;
        vertical-align: middle;
        cursor: pointer;
      }

      cursor: pointer;
    }

    .create-author {
      h3 {
        color: $create-author;
        border-bottom: 2px solid #0c453e;
        display: inline-block;
        font-size: 1.5em;
      }

      i {
        cursor: pointer;
      }

      .form-label {
        font-size: 0.7em;
      }

      .form-control {
        border-radius: unset;
        border: 2px solid $input-field-border-color;
      }

      .create-btn {
        background-color: $create-btn-color;
        border-radius: 8px;
        float: right;
        font-size: 1.1em;
      }

      .formInputs {
        margin-right: 0;
        margin-left: 2rem;
      }

      .formCloseButton {
        text-align: right;
      }
    }
  }
}

@media only screen and (max-width: $extra-small-device-size) {
  .library-content {
    .author-section {
      font-size: 0.8em;
      padding: 0 1em 0 1em;

      .author-title {
        font-size: 1.6em;
      }

      .create-author {
        .formInputs {
          margin-left: 0;
        }

        .form-label {
          font-size: 0.9em;
        }
      }
    }
  }

}
