.footer-dark {
  padding: 30px 15px 10px 15px;
  color: #f3faff;
  background-color: #282d32;
  width: 100%;
  height: auto;
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
    a {
      color: inherit;
      text-decoration: none;
      opacity: 0.6;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .item.text {
    margin-bottom: 36px;
    p {
      opacity: 0.6;
      margin-bottom: 0;
    }
  }
  .item-social {
    text-align: center;
    a {
      font-size: 20px;
      width: 36px;
      height: 36px;
      line-height: 36px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0 0 0 1px rgba(255,255,255,0.4);
      margin: 0 8px;
      color: #fff;
      opacity: 0.75;
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.5;
    font-size: 15px;
    margin-bottom: 0;
  }
}
@media (max-width:767px) {
  .footer-dark {
    width: 100%;
    .item {
      &:not(.social) {
        text-align: center;
        padding-bottom: 10px;
      }
    }
    .item.text {
      margin-bottom: 0;
    }
  }
}
@media (max-width:991px) {
  .footer-dark {
    width: 100%;
    .item.social {
      text-align: center;
      margin-top: 20px;
    }
  }
}
