
.reading_area{
  .createBook{
    //background-color: red;
    padding-top: 10px;
    .createBookTitle{
      span{
        border-bottom: 2px solid #0c4b40;

      }
      color: #0c4b40;




    }
  }
  .addBook{
    font-size: 1em;

    &:hover{
      cursor: pointer;
    }

    .plusIcon{
      color: #164bb1;
      margin-right: 10px;
    }
  }
  .book{
    .icons{
      text-align: right;
      .trashIcon{
        display: none;
        margin-right: 10px;
        &:hover{
          cursor: pointer;
        }
        color: #a22523;
      }
      .editIcon{
        display: none;
        &:hover{
          cursor: pointer;


        }
        color: #f09417;
      }



    }
  }
  .booksHeading{
    border-bottom: 2px solid #223033;
    color: #223033;
    font-weight: 500;
    font-size: 2em;
  }
  ul{
    margin-top: 40px;
    padding: 0 0;
    li{
      list-style-type: none;
      font-size: 1.2em;
      padding: 10px 10px 10px 0;
      &:hover{
        background-color: #f5f5f5;
        .book{
          .icons{
            .trashIcon,.editIcon{
              display: inline-block;
              }
          }
        }
      }
    }
  }


}

